/* stylise searchbar */
#hotels-so {
    background-image: none;
    background-color: #D8DDE8;
    padding-left: 10px;
}

.package-form {
    box-shadow: 0px 3px 6px #00000024;
}
/* end of stylise searchbar*/

.single-package-img-holder {
  position: relative;
  height: 318px!important;
  margin-bottom: 28px;
}

.single-package-img {
  width: 100%;
  height: 318px!important;
  object-fit: cover;
}

.MaxPartialPaymentParcel {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  line-height: 19px;
  padding: 11px 10.85px 10px 12px;
  background-color: #000000;
  color: #ffffff;
}

.MaxPartialPaymentParcel span {
  font-weight: bold;
}

.single-package-name-holder {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}

.single-package-hotel-name {
  font-size: 14px;
  line-height: 18px;
  color: #2C2F33;
}

.single-package-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #000000;
}

.single-package-info-holder {
  padding: 22px 42px 25px 26px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000024;
}

.stay-period-header {
  margin: 0px;
  margin-bottom: 22.91px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.stay-period-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
  padding-left: 17px;
}

.stay-period-range {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-right: 40px;
}

.single-package-included-msg {
  margin: 0px;
  margin-bottom: 22.91px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.single-package-included {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-right: 40px;
}

.single-package-included-holder {
  margin-bottom: 44px;
}

.single-package-info-categories-bars {
  padding-left: 17px;
  overflow: auto;
}

.single-package-info-categories-bar {
  margin-right: 40px;
  line-height: 18px;
  color: #9C9C9C;
  cursor: pointer;
  float: left;
}

.single-package-info-categories-bar.active-bar {
  font-weight: bold;
  color: #000000;
}

.single-package-info-category-section {
  display: none;
  font-size: 14px;
  color: #2C2F33;
  line-height: 20px;
}

.single-package-info-category-section.active-section {
    display: flex;
    flex-wrap: wrap;
}

.amenity-4-group {
  width: 300px;
}

.package-description-long {
  display: none;
}

.package-less-description {
  display: none;
  font-size: 12px;
  line-height: 17px;
  color: #4B8CF4;
  text-decoration: underline;
  cursor: pointer;
}

.package-more-description {
  font-size: 12px;
  line-height: 17px;
  color: #4B8CF4;
  text-decoration: underline;
  cursor: pointer;
}

.rooms-message-header {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  color: #222222;
  margin-top: 69.85px;
  margin-bottom: 43.77px;
  text-align: center;
}

.single-package-room-container {
  float: left;
  width: 50%;
  padding: 25px 50px 25px 0px;
}

.single-package-room {
  /*max-width: 392px;
  width: 392px;*/
  box-shadow: 0px 4px 7px #0000001C;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.single-package-room-img {
  width: 100%;
  max-height: 254px;
  height: 254px;
  object-fit: cover;
}

.single-package-room-rate-info {
  padding: 53.8px 31.65px 30.94px 32.04px;
  background-color: #ffffff;
  position: relative;
  min-height: 273px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single-package-room-name {
  font-size: 24px;
  color: #222222;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: -0.6px;
}

.single-package-room-icons {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 15px;
  color: #2C2F33;
  margin-bottom: 23px;
  height: 120px;
  overflow: hidden;
}

.single-package-room-icons-type {
  margin-bottom: 7.5px;
  display: flex;
}

.single-package-room-icons-type:nth-last-child {
  margin-bottom: 0px;
}

.single-package-room-icons-type img {
  height: 12px;
}

.single-package-room-icon-name {
  margin-left: 8px;
  font-weight: 400;
}

.single-package-room-icon-name span {
  font-weight: 600;
}

.single-package-room-price-and-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.single-package-room-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-after {
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  color: #BEAD8E;
  margin: 0px;
}

.price-after.best-price {
  color: #82B789;
}

.price-after .currency_symbol_price, .price-after .decimal_value_price {
  font-size: 20px;
}

.single-package-tax-msg {
  font-size: 12px;
  line-height: 15px;
  color: #2C2F33;
  font-weight: 400;
}

.text-number-of-rooms {
  display: none;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 15px;
}

.room-btn-minus, .room-btn-plus, .room-btn-value {
  display: none;
}

.room-btn-add  {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 18px;
  padding: 16px 17.3px 16px 15.9px;
  background-color: #000000;
  border:  0px;
  letter-spacing: 0.7px;
}

.obpress-hotel-results-button-bottom {
    display: flex;
    align-items: flex-end;
}

.room-btn-minus , .room-btn-plus , .room-btn-value {
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.room-btn-value {
  color: #2C2F33;
}

.room-btn-minus , .room-btn-plus {
    border:  1px solid #000 ;
    font-size: 24px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}

.room-amenities {
    width: calc(100% - 80px);
    height: 53px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 29px;
    align-items: center;
    position: absolute;
    top: -26px;
    left: 40px;
    box-shadow: 0px 14px 24px #BEAD8E30;
}

.price-before {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #9C9C9C;
}



/* fix for form */

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1300px;
}


form {
  margin-top:20px;
}








/*   BASKET */


.obpress-package-rooms-basket {
  display: flex;
  justify-content: space-between;
}

#package-results {
  width: 100%;
}

.obpress-hotel-results-basket {
    width: 336px;
    position: -webkit-sticky;
    position: sticky;
    top: 156px;        
    box-shadow: 0px 4px 7px #00000029;
    background-color: #fff;   
    margin-top: 25px; 
    /* margin-bottom: 20px; */
    margin-bottom: 45px;
}

.obpress-body-admin-bar-shown .obpress-hotel-results-basket {
    top: 265px;
}

.obpress-admin-bar-shown-basket {
    top: 187px;
}

.obpress-hotel-results-basket-info {
    background-color: #fff;
    padding: 17px 0px 14px 25px;
}

.obpress-hotel-basket-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 19px;
    margin-top: 0px;
}

.obpress-hotel-basket-stay-info {
    display: flex;
}

.obpress-hotel-basket-stay-dates {
    border-right: 1px solid #DFDFDF;
    display: flex;
}

.obpress-hotel-basket-stay-dates .obpress-hotel-searchbar-arrow {
    display: flex;
    align-self: flex-end;
    margin: 0px 8px;
    width: 10px;
}

.obpress-hotel-basket-stay-checkout {
  margin-right: 8px;
}

.obpress-hotel-basket-stay-checkin, .obpress-hotel-basket-stay-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.obpress-hotel-basket-stay-checkin-string, .obpress-hotel-basket-stay-checkout-string {
    font-size: 10px;
    font-weight: 400;
    color: #2c2f33;
    line-height: 13px;
    margin-bottom: 4px;
}

.obpress-hotel-basket-stay-checkin-date, .obpress-hotel-basket-stay-checkout-date {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    width: fit-content;
}

.obpress-hotel-basket-stay-room-info {
    display: flex;
}

.obpress-hotel-basket-stay-rooms, .obpress-hotel-basket-stay-nights, .obpress-hotel-basket-stay-guests {
    display: flex;
    flex-direction: column;
}

.obpress-hotel-basket-stay-rooms {
    margin-left: 8.32px;
    margin-right: 11px;
}

.obpress-hotel-basket-stay-nights {
    margin-right: 12px;
}

.obpress-hotel-basket-stay-guests {
    width: 50px;
    height: 35px;
}

.obpress-hotel-basket-stay-rooms-string, .obpress-hotel-basket-stay-nights-string, .obpress-hotel-basket-stay-guests-string {
  font-size: 10px;
  font-weight: 400;
  color: #2c2f33;
  line-height: 13px;
  margin-bottom: 4px;
}

.obpress-hotel-basket-stay-rooms-num, .obpress-hotel-basket-stay-nights-num, .obpress-hotel-basket-stay-guests-num {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.obpress-hotel-results-basket-cart {
    background-color: #F9F9F9;
    border-top: 1px solid #E6E6E6;
    margin-top: 10px;
}

.obpress-hotel-results-basket-price {
    background-color: #fff;
    padding: 8px 31px 22px 26px;
}

.obpress-hotel-total-price-holder {
    display: flex;
    justify-content: space-between;
}

.basket-room-div {
    display: none;
}

.obpress-hotel-results-basket-cart  .basket-room-div {
    display: block;
    padding: 20px 31px 19px 26px;
}

.basket-room-div-clone {
    display: none;
}

.obpress-hotel-results-basket .obpress-hotel-searchbar-button-holder {
    display: none;
}

.obpress-hotel-stars-holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hotel-stars {
    display: flex;
    margin-bottom: 7px;
}

.hotel-stars svg {
    height: 14px;
    width: 14px;
}

.hotel-stars .star-full path {
    fill: #ffc70e;
}

.hotel-stars .a {
    opacity: 1!important;
}

.obpress-hotel-edit-search {
    font-size: 10px;
    color: #4B8CF4;
    text-decoration: underline;
    cursor: pointer;
}

.hotel_star_outline g g .c, .star-lines g .c {
    fill: #fff;
    stroke: #ffc70e;
}

.star-lines g .b {
    stroke: none;
}

.hotel_star g path {
    fill: #ffc70e;
    stroke: #ffc70e;
}


.obpress-hotel-results-item-title-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 14px;
}

.obpress-hotel-results-item-title {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 170px;
    word-break: break-all;
}

.obpress-hotel-results-item-promo {
    font-size: 12px;
    font-weight: 600;
    color: #82B789;
    font-style: italic;
    line-height: 15px;
}

.obpress-hotel-results-total-room-selected {
    display: flex;
    font-size: 14px;
    font-weight: 700;
}

.obpress-hotel-results-item-price {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 18px;
    min-width: max-content;
    display: flex;
    align-items: baseline;
}

.obpress-hotel-results-item-curr {
    font-size: 10px;
    margin-right: 3px;
    font-weight: 400;
    position: relative;
    top: -1px;
}

.obpress-hotel-results-item-promo-edit {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.obpress-hotel-results-item-discount, .obpress-hotel-results-discount-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #E6E6E6;
}

.obpress-hotel-results-item-discount-string, .obpress-hotel-results-discount-message {
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.obpress-hotel-results-item-taxes, .obpress-hotel-results-tax-holder {
    padding-top: 12px;
    border-top: 1px solid #E6E6E6;
}

.obpress-hotel-results-item-edit {
    color: #4B8CF4;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

.obpress-hotel-results-tax-title {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 400;
    margin-top: 0px;
}

.obpress-hotel-results-tax-title svg {
    margin-left: 5px;
}

.obpress-hotel-results-item-taxes-type, .obpress-hotel-results-tax-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.obpress-hotel-results-tax-message {
    font-size: 12px;
    font-weight: 400;
}

.obpress-hotel-results-tax-total {
    font-size: 14px;
    font-weight: bold;
}

.obpress-hotel-results-tax-currency, .obpress-hotel-results-discount-currency {
    font-weight: 400;
}

.obpress-hotel-total-price-string {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
}

.obpress-hotel-total-price {
    font-size: 20px;
    font-weight: bold;
    color: #82B789;
}

.obpress-hotel-submit {
    width: 100%;
    height: 40px;
    background-color: #82B789;
    border-width: 0px;
    color: #fff;
    font-size: 13px;
    margin-top: 15px;
    font-weight: bold;
    font-family: inherit;
}

.obpress-hotel-total-price-string {
  float: left;
}

.obpress-hotel-total-price {
  float: right;
}

.obpress-hotel-results-pay-up-to {
  display: block;
  clear: both;
}

/*  end of basket */




.error_message_holder {
  width: calc(100% - 20px);
  height: 80px;
  padding: 0px 20px;
  background-color: #0C83D9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.error_message_left {
  display: flex;
  align-items: center;
}

.error_info_icon {
  margin-right: 15px;
}

.error_message {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

.error_message_btn_calendar, .error_message_btn_occupancy {
  border: unset;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  color: #0C83D9;
  padding: 8.5px 20px;
  min-width: 115px;
  cursor: pointer;
}

.restricted_text_holder {
  font-size: 12px;
  font-weight: 500;
  color: #FF0000;
}

.restricted_text_holder .restriction {
  line-height: 18px;
}

.restricted_modify_search {
  font-size: 12px;
  font-weight: 400;
  color: #4B8CF4;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  padding-top: 10px;

}

.single-package-info-categories.mobile {
  display: none;
}





/* NEXT PAGE LOADER */

.next-step-loader , .next-step-loader-next-page {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: flex-start;
  left: calc(50% - 70px);
}

.gooey {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #000;
  border-radius: 50%;
}


@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

/* end of loader */




/* MOBILE */

@media (max-width: 1279px) { 



    .obpress-package-rooms-basket {
        display: block;
        position: relative;
    }

    .single-package-room-container {
        width: 100%;
    }

    .obpress-hotel-results-basket {
        position: static;
    }

    #package-results {
        overflow: auto;
        margin-bottom: 67px;
    }

    .next-step-loader , .next-step-loader-nex-page {
      left: 50% ;
      top: -97px;
    }

    .obpress-hotel-results-basket-holder {
        display: none;
    }

    .single-package .single-package-room-container {
        width: 100%;
        padding: 0px 20px;
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
    }

    .single-package {
        overflow: hidden;
    }

    .single-package .rooms-message-header {
        font-size: 16px;
        text-align: left;
        margin: 30px 0px 30px 0px;
        padding-left: 20px;
    }

    .single-package .single-package-room-name {
        font-size: 16px;
    }

    .single-package .single-package-room-icon-name span , .single-package .single-package-room-icon-name {
        font-size: 9px;
    }

    .single-package .single-package-room-icons-type img {
      height: 10px;
      margin-top: 3px;
    }

    .single-package-room-icons {
        height: auto;
    }

    .single-package .price-after .currency_symbol_price, .single-package .price-after .decimal_value_price {
        font-size: 20px;
    }

    .single-package .price-after .decimal_value_price {
        font-size: 16px;
    }

    .single-package .single-package-room {
        margin: 0px 0px 30px 0px;
    }

    .single-package .room-btn-add {
        padding:  10px 17px 10px 17px;
        font-size: 12px;
    }

    /* Basket mobile */

    .single-package .obpress-hotel-results-basket-holder {
        display: none;
        z-index: 20;
    }

    .single-package .obpress-hotel-results-basket {
        position: fixed;
        bottom: 0px;
        left: 0px;
        top: unset;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .single-package .obpress-hotel-results-basket-info-holder {
        display: none;
        height: calc(100vh - 82px);
        background-color: #fff;
        padding: 0px 19px;
    }

    .single-package #basket.open {
        top: 0px;
        z-index: 100;
    }

    .single-package .obpress-hotel-results-basket-info-holder.open {
        display: block;
    }

    .single-package .obpress-hotel-results-basket-info {
        padding: 12px 0px 17px 0px;
        border-bottom: 1px solid #E6E6E6;
    }

    .single-package .obpress-hotel-basket-title {
        line-height: 21px;
        margin-bottom: 17px;
    }

    .single-package .obpress-hotel-basket-stay-dates {
        min-width: 140px;
    }
    
    .single-package .obpress-hotel-searchbar-arrow {
        margin-left: 5px;
    }

    .single-package .obpress-hotel-basket-stay-checkin-string, .single-package .obpress-hotel-basket-stay-checkout-string {
        font-size: 9px;
        line-height: 11px;
    }

    .single-package .obpress-hotel-basket-stay-rooms-string, .single-package .obpress-hotel-basket-stay-nights-string, .single-package .obpress-hotel-basket-stay-guests-string {
        font-size: 9px;
        line-height: 11px;
    }

    .single-package .obpress-hotel-basket-stay-rooms-num, .single-package .obpress-hotel-basket-stay-nights-num, .single-package .obpress-hotel-basket-stay-guests-num {
        text-align: center;
    }

    .single-package .obpress-hotel-results-basket .obpress-hotel-searchbar-button-holder {
        display: block;
    }
    
    .single-package .obpress-hotel-results-discount-holder {
        padding: 17px 0px 21px 0px;
    }

    .single-package .obpress-hotel-results-basket-cart {
        background-color: #fff;
        border-top: unset;
    }

    .single-package .obpress-hotel-results-basket-cart .basket-room-div {
        padding: 0px 0px 21px 0px;
    }

    .single-package .obpress-hotel-results-item-top {
        height: calc(100vh - 279px);
        padding-top: 21px;
        overflow-y: scroll; 
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .single-package .obpress-hotel-results-item-top::-webkit-scrollbar {
        display: none;
    }

    .single-package .obpress-hotel-results-item-title {
        font-size: 12px;
        font-weight: bold;
    }

    .single-package .obpress-hotel-results-total-room-selected {
        display: none;
    }

    .single-package .obpress-hotel-results-item-price .obpress-hotel-results-item-value {
        font-size: 12px;
    }

    .single-package .obpress-hotel-results-item-promo-edit {
        padding-bottom: 40px;
    }

    .single-package .obpress-hotel-results-item-value {
        font-size: 10px;
    }

    .single-package .obpress-hotel-results-item-edit {
        display: none;
    }

    .single-package.obpress-hotel-results-discount-message {
        font-size: 12px;
    }

    .single-package .obpress-hotel-results-discount-total .obpress-hotel-results-discount-currency {
        font-size: 10px;
    }

    .single-package .obpress-hotel-results-discount-total .obpress-hotel-results-discount-price {
        font-size: 12px;
    }

    .single-package .obpress-hotel-results-item-taxes, .obpress-hotel-results-tax-holder {
        padding-top: 17px;
    }

    .single-package.obpress-hotel-results-tax-title {
        font-weight: bold;
    }

    .single-package .obpress-hotel-results-tax-total .obpress-hotel-results-tax-currency {
        font-size: 10px;
    }

    .single-package.obpress-hotel-results-tax-total .obpress-hotel-results-tax-price {
        font-size: 12px;
    }

    .single-package .obpress-hotel-edit-search {
        display: none;
    }

    .single-package .obpress-hotel-results-basket-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 12px 14px 50px;
        box-shadow: #00000040 0px 0px 25px;
        height: 82px;
        background-image: url('../../assets/icons/basket_arrow_up.svg');
        background-position-x: 17px;
        background-position-y: center;
        background-repeat: no-repeat;
    }

    .single-package .obpress-hotel-results-basket-price.open {
        background-image: url('../../assets/icons/basket_arrow_down.svg');
    }

    .single-package .obpress-hotel-total-price-holder {
        flex-direction: column;
    }
    
    .single-package .obpress-hotel-total-price {
        font-size: 16px;
    }

    .single-package.obpress-hotel-total-price-currency {
        font-size: 14px;
    }

    .single-package .obpress-hotel-results-pay-up-to {
        display: block;
        color: #000;
        font-size: 10px;
    }
    
    .single-package .obpress-hotel-total-price-string {
        display: none;
    }

    .single-package .obpress-hotel-submit {
        padding: 11px 35px 11px 18px;
        width: unset;
        margin-top: unset;
        background-image: url('../../assets/icons/basket_arrow_right.svg');
        background-position-x: 93%;
        background-position-y: center;
        background-repeat: no-repeat;
    }

    .single-package .obpress-hotel-searchbar-button {
      display: flex;
      flex-direction: column;
      border: none;
      padding: 0px;
      color: #4B8CF4;
      font-size: 9px;
      font-weight: 400;
      width: unset;
      background-color: unset;
    }

    .single-package .obpress-hotel-searchbar-icon {
      display: block;
      align-self: center;
    }

    .single-package .obpress-hotel-searchbar-icon .b {
      stroke: #4B8CF4;
      fill: none;
    } 

    .single-package .obpress-hotel-basket-stay-dates .obpress-hotel-searchbar-arrow svg {
      height: unset;
    }

    /*  end of basket css */

    .single-package-info-categories.desktop {
      display: none;
    }

    .single-package-info-categories.mobile {
      display: flex;
      flex-direction: column;
    }

    .single-package-info-categories.mobile .single-package-info-category-holder {
      position: relative;
      border-bottom: 1px solid rgba(112, 112, 112, 0.15);
    }

    .single-package-info-categories.mobile .single-package-info-category-title {
      font-size: 14px;
      color: #2C2F33;
      font-weight: bold;
      padding: 20px 0px;
    }

    .single-package-info-categories.mobile .single-package-info-description-holder {
      font-size: 12px;
      color: #2C2F33;
      padding-bottom: 21px;
      display: none;
    }

    .single-package-info-categories.mobile .single-package-info-description-holder > div {
      display: flex;
      flex-wrap: wrap;
    }

    .single-package-info-categories.mobile .single-package-info-description-holder div div {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }

    .single-package-info-categories.mobile .single-package-info-description-holder div div:last-child, 
    .single-package-info-categories.mobile .single-package-info-description-holder div div:nth-last-child(2) {
      margin-bottom: 0px;
  }

    .single-package-info-categories.mobile .single-package-info-description-arrow {
      position: absolute;
      top: 25px;
      right: 0;
    }

    .single-package-info-categories.mobile .single-package-info-description-holder img {
      width: 11px;
      margin-right: 8px;
    }

    .single-package .single-package-included-holder {
      margin: 0px;
      display: flex;
      flex-wrap: wrap;
    }

    .single-package .single-package-included-holder div {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-size: 12px;
    }

    .single-package .single-package-included-holder img {
      width: 11px;
      margin-right: 8px;
    }

    .single-package .stay-period-list {
      margin-bottom: 23px;
    }

    .single-package .stay-period-range {
      font-size: 12px;
    }

    .single-package .single-package-hotel-name {
      font-size: 12px;
    }

    .single-package .single-package-name {
      font-size: 16px;
    }

    .single-package .MaxPartialPaymentParcel {
      font-size: 14px;
    }
}